/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font: 16px/1.5 BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
}

body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 650px;
  margin: 0 auto;
}

section {
  margin-bottom: 24px;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: larger;
}

p {
  margin: 0 0 8px;
}

p.name {
  font-weight: bolder;
}

ul {
  margin-top: 0;
}

ul li {
  margin-bottom: 4px;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: underline;
  text-decoration-skip: edges;
}

a:focus,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
  padding-bottom: 16px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 32px 0 64px;
}

header p {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin: 0;
  text-align: right;
}

header>img {
  margin-left: 8px;
  max-height: 64px;
}

.team li span {
  font-size: smaller;
}

img.hero {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

footer {
  border-top: 1px solid #727272;
  margin-top: auto;
  padding-top: 8px;
  /* padding-bottom: 8px; */
  font-size: smaller;
  line-height: 1.3;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

footer>* {
  margin-right: 8px;
}

footer>nav {
  margin-right: 0;
  margin-left: auto;
}

@media screen and (max-width: 420px) {
  header p {
    font-size: 80%;
  }

  header img {
    max-height: 48px;
  }
}
