---
import { Image } from 'astro:assets';
import heroImage from "./hero.jpg";

import logo from "../assets/logo.svg"
---

<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>SMO GmbH Karlsruhe i.L.</title>
		<meta name="description" content="Softwareentwicklung aus Karlsruhe"/>
		<meta name="keywords" content=""/>
    <link rel="stylesheet" href="style.css">
		<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png"/>
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"/>
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"/>
		<link rel="manifest" href="site.webmanifest"/>
		<meta name="msapplication-TileColor" content="#ffffff"/>
		<meta name="theme-color" content="#ffffff"/>
	</head>
	<body>
		<main>
			<header>
				<div>
					<p class="name">SMO GmbH Software Manufaktur · Karlsruhe</p>
					<p>Softwareentwicklung seit 1977</p>
				</div>
				<img src={logo.src} alt="Logo der SMO GmbH" height="64" width="64"/>
			</header>
			<section>
				<h1>Wir lieben Software</h1>
				<Image src={heroImage} alt="In die Ferne schauender Fotograf an der Atlantikküste" width="618" height="224" class="hero"/>
				<p>
					Seit 1977 entwickeln wir Software für unterschiedliche Projekte und Branchen. Wir unterstützen Sie von der Anforderungsanalyse und dem Anwendungsdesign bis hin zur Umsetzung.
				</p>
				<p>Zuverlässig, anspruchsvoll, vorausschauend.</p>
				<p>
					Sie benötigen Unterstützung?
					<a href="mailto:info@smo.de">Schreiben Sie uns!</a>
				</p>
			</section>
			<section>
				<p>Wir arbeiten mit Ihnen zusammen:</p>
				<ul class="team">
					<li>
						Klaus-Dieter Ost: Softwareingenieur und Berater<br/><span>
							<a href="cv-smo-kdo-en.pdf" title="englisches Profil als PDF von Klaus-Dieter Ost">Profil (en)</a>,
							<a href="cv-smo-kdo-de.pdf" title="deutsches Profil als PDF von Klaus-Dieter Ost">Profil (de)</a>,
							<a href="https://www.linkedin.com/in/klausdieterost/" title="LinkedIn-Profil von Klaus-Dieter Ost">LinkedIn</a>,
							<a href="https://www.xing.com/profile/KlausDieter_Ost/cv" title="Xing-Profil von Klaus-Dieter Ost">Xing</a>
						</span>
					</li>
					<li>
						Christian Ost: Softwareentwickler<br/><span>
							<a href="cv-smo-ca-de.pdf" title="deutsches Profil als PDF von Christian Ost">Profil (de)</a>,
							<a href="https://www.linkedin.com/in/christian-o-89a803100" title="LinkedIn-Profil von Christian Ost">LinkedIn</a>,
							<a href="https://www.xing.com/profile/Christian_Ost/cv" title="Xing-Profil von Christian Ost">Xing</a>
						</span>
					</li>
				</ul>
			</section>
		</main>
		<footer>
			<div>
				<p>SMO GmbH Karlsruhe i.L.</p>
				<p>
					Blohnstraße 1
					<br/>
					76185 Karlsruhe
				</p>
			</div>
			<p>Mail:
				<a href="mailto:info@smo.de">info@smo.de</a>
			</p>
			<nav>
				<p>
					<a href="impressum">Impressum & Datenschutz</a>
				</p>
			</nav>
		</footer>
	</body>
</html>
