---
import logo from "../../assets/logo.svg"
---

<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>SMO GmbH Karlsruhe i.L. – Impressum</title>
		<meta name="description" content="Softwareentwicklung aus Karlsruhe"/>
		<meta name="keywords" content=""/>
    <link rel="stylesheet" href="/style.css">
		<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png"/>
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"/>
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"/>
		<link rel="manifest" href="site.webmanifest"/>
		<meta name="msapplication-TileColor" content="#ffffff"/>
		<meta name="theme-color" content="#ffffff"/>
	</head>
	<body>
		<main>
			<header>
				<div>
					<p class="name">SMO GmbH Software Manufaktur · Karlsruhe</p>
					<p>Softwareentwicklung seit 1977</p>
				</div>
				<img src={logo.src} alt="Logo der SMO GmbH" height="64" width="64"/>
			</header>
			<section>
				<h1>Impressum</h1>
				<p>
					SMO GmbH Software Manufaktur Klaus-Dieter Ost und Partner i.L.
					<br/>
					Liquidatoren: Dipl.-Inform. Klaus-Dieter Ost und Anni Ost
				</p>
				<p>
					Blohnstraße 1
					<br/>
					76185 Karlsruhe
				</p>
				<p>
					Telefon:
					<a href="tel:+49721597190">+49 721 597190</a><br/>
					Mail:
					<a href="mailto:info@smo.de">info@smo.de</a>
				</p>
				<p>
					Handelsregister: AG Mannheim, HRB 103498<br/>
					USt-IdNr.: DE143604021
				</p>
				<p>Bildrechte: Christian Ost</p>
			</section>
			<section>
				<h2>Datenschutzhinweis</h2>
				<p>
					Auf dieser Webseite erheben und speichern wir keine personenbezogenen Daten, verwenden keine Cookies und setzen keine Analyse- und Tracking-Tools ein.
				</p>
				<p>
					Unser Provider speichert Logdaten zur Qualitätssicherung. Dieses Daten werden von uns nicht ausgewertet und nicht mit anderen Daten verknüpft.
				</p>
			</section>
		</main>
		<footer>
			<div>
				<p>SMO GmbH Karlsruhe i.L.</p>
				<p>
					Blohnstraße 1
					<br/>
					76185 Karlsruhe
				</p>
			</div>
			<p>Mail:
				<a href="mailto:info@smo.de">info@smo.de</a>
			</p>
		</footer>
	</body>
</html>
